<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask_Mail</title>
</head>   

<body>
    <p>Send Mail</p>
    <form method="post">
        <p></p>Title <input type = "text" name ="Title"/></p>
        <p></p>Body <input type = "text" name ="Body"/></p>
        <p></p>Email <input type = "text" name ="Email"/></p>
        <button style="background-color: rgb(205, 155, 90); color: white;" type="submit">Send</button>
    </form>
</body>
</html>